.img_icon{
    max-width: 40px;
}
.form_busqueda{
    width: 520px;
}
.cuerpo_pagina {
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 /10%), inset 0 .125em 0.5em rgb(0 0 0  / 15%);
}

.menu-ppal i{
    font-size:  20px;
}
.item-pelicula{
    background: white;
}
.item_carrusel{
    background: #bdbdbd;
}

.imagen-pelicula {
    width: 200px;
    height: 300px;
}
.imagen-pelicula img{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1320px;
}
.poster-peli  {
    width: 340px;

}
.poster-peli img {
    width: 100%;
    height: auto;
}

.detalle-infopelicula{
    width: 400px;
    height: auto;
}
.video-tamano{
    width: 810px;
    height: 450px;
}
.detalle-infopelicula .shadow, .funciones-peli .shadow{
    background: white;
}

.silla-elegida{
    background: red;
    color: white;
}
.item-silla{
    padding: 7px 20px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
}
.item-fun{
    background: #f8f9fa;
}
.item-confite img{
    max-width: 100%;
}
#sillas .ui-widget-content.ui-datatable-even, #sillas .ui-widget-content.ui-datatable-add, #sillas td{
    border: 0 solid;
}
#sillas td table{
    border: 1px solid;
}

.img-carousel {
    max-width: 2000px;
}
.img-carousel img{
    max-height: 100%;
}