.img_icon{
    max-width: 40px;
}
.form_busqueda{
    width: 520px;
}
.cuerpo_pagina {
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 /10%), inset 0 .125em 0.5em rgb(0 0 0  / 15%);
}

.menu-ppal i{
    font-size:  20px;
}
.item-pelicula{
    background: white;
}
.item_carrusel{
    background: #bdbdbd;
}

.imagen-pelicula {
    width: 200px;
}
.imagen-pelicula img{
    width: 100%;
    height: auto;
}
.container{
    max-width: 1320px;
}
.poster-peli  {
    width: 340px;

}
.poster-peli img {
    width: 100%;
    height: auto;
}

.detalle-infopelicula{
    width: 400px;
    height: auto;
}
.video-tamano{
    width: 810px;
    height: 450px;
}